build
vscode_build
vscode_build_O3
out
.vscode
compile_commands.json
.cache
Examples_old
Examples
Vocabulary
Vocabulary/
datasets

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug
cmake-build-release
Examples
Examples_old

CameraTrajectory.txt